projectFilesBackup/
*.iws
.DS_Store
.svn
.buckd
.nobuckcheck
.credentials.dat
buck-out
mockpiframe.log
mockpiframe.log.lck
junitvmwatcher*.properties
test-output/
.*.swp
common/build
/build/
cpp/iedriver/IEReturnTypes.h
java/client/src/org/openqa/selenium/ie/IeReturnTypes.java
javascript/deps.js
javascript/node/selenium-webdriver/node_modules/
javascript/safari-driver/node_modules/
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/scopes/
.idea/qaplug_profiles.xml
out
cpp/IEDriver/sizzle.h
third_party/gecko-*
cpp/iedriver/Generated/atoms.h
cpp/iedriver/sizzle.h
chromedriver.log
junit*.properties
*.rbc
.rbx
.yardoc
rb/.yardoc
.tm_properties
maven/*/src
maven/target
maven/*/target
maven/.idea
maven/*.iml
maven/*/*.iml
java/client/build/
java/client/log.txt
java/client/iedriver.log
java/server/build/
*.pyc
dist/
py/selenium/webdriver/firefox/amd64/
py/selenium/webdriver/firefox/webdriver.xpi
py/selenium/webdriver/firefox/webdriver_prefs.json
py/selenium/webdriver/firefox/x86/
py/docs/build/
selenium.egg-info/
third_party/java/jetty/jetty-repacked.jar
*.user
*.cache
obj/
*.opensdf
*.suo
*.sdf
*.vs
*.opendb
*.VC.db
*.aps
Generated/
ipch/
/iedriver.log
/phantomjsdriver.log
geckodriver.log
.tags
.ruby-version
GPATH
GRTAGS
GSYMS
GTAGS
Gemfile.lock
/rb/.bundle
/rb/.idea
.sonar/
.idea/sonarIssues.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
third_party/py/googlestorage/client_secrets.json
#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
ip.txt

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


#################
## Visual Studio
#################

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover

## TODO: If you have NuGet Package Restore enabled, uncomment this
#packages/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp

# ReSharper is a .NET coding add-in
_ReSharper*

# Installshield output folder
[Ee]xpress

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish

# Others
[Bb]in
[Oo]bj
sql
TestResults
*.Cache
ClientBin
stylecop.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML



############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Mac crap
.DS_Store

# GitHub files
*.bin
cache.*



# To support IntelliJ IDEA , will disable these later when I get IntelliJ working correctly
.idea
*.iml
*.ipr
*.iws

# Don't add logback log4j files to source
*.log

.gradle
/build/

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.class

# Exclude Email.Properties file. Should be configured locally and not 
# overwritten.
Email.Properties

# Exclude Results folder.
Results/ExcelReport/*.xlsx
Results/HtmlReport/*.html
Results/Logging/*.out
Results/ScreenShots/*.png

# Exclude automationqalogs.out files.
/target/Logging/automationqalogs.out
/Results/Logging/automationqalogs.out